*{
 background-color: whitesmoke;
}
.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: blue;
  height: 80px;
  padding: 20px;
  color: blue;
 font-size: large;
 font-style: italic;
 font-weight: 900;
 text-decoration: underline;
}

.App-title {
  font-size: 1.5em;
  color: blue;
  
}

.App-intro {
  font-size: large;
  text-decoration: underline;
  font-style: italic;
  font-weight: 900;
}



/* new css for car component */
* {
  box-sizing: border-box;
  
}

 
.cars {
  display: flex;
  flex-wrap: wrap;
  margin: 30px 5%;
  font-style: italic;
}

.App-header h2 {
  margin: 0;
}
 
.add-cars {
  text-align: center;
}
 
.add-cars button {
  font-size: 17px;
  padding: 8px;
  margin: 0 10px 30px 10px;
  border-radius: 100px;
  font-style: italic;
}
.add-cars:hover{
  color: blue;
  
}

 
.car {
  padding: 5px 25px 10px 25px;
  max-width: 24%;
  border: 1px solid #999;  
  border-radius: 20px;
  margin: 5px;
  font-style: italic;
}
.car:hover{
  color: rgb(59, 45, 187);
  box-shadow: 6px 6px 6px rgb(0, 0, 0);
}

/* car form styles */
 
.car-form {
  width: 250px;
  margin: 0 auto;
  border-radius: 10px;
  font-style: italic;
  text-decoration: underline;
}
 
.car-form input, .car-form textarea {
  width: 250px;
  font-size:15px;
  padding: 5px;
  margin: 5px;
  border-radius: 40px;
  font-style: italic;
}
.car-form textarea:hover{
  color: blue;
}
 
.car-form button {
  font-size: 17px;
  font-weight: 700;
  font-style: italic;
  padding: 4px;
  margin: 10px 10px 30px 10px;
  color: rgb(2, 1, 1);
  border-radius: 50px;
}
.car-form button:hover{
  color: black;
}
